.body{
    background-color: white;
}


Entry {
    text-align: center;
    margin: 15 0;
    font-size:15;
    border-color: white;
}

.imgHeader {
    float: left;
    width:100;
    margin: 0;
}

Button {
    font-size: 16;
    color: #fff;
    margin: 5 0;
    background-color: #00BFFF;
    border: solid;
    border-radius: 2px;
    /*border-color: black;
    border-width: 1;*/
}
